/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.site {
  max-width: 1080px;
  margin: 0 auto;
}

.hfeed {
  width: 100%;
}

.logo-wrapper {
  margin-top: 50px;
  @media (min-width: 620px) {}
  @media (min-width:1080px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.site-content {
  position: relative;
  margin: 4.5rem 175px 1.5rem;
  font-weight: lighter;
  @media (min-width: 1080px) {
    &:before {
      color: #00cc00;
      content: "\f10d";
      font-family: FontAwesome;
      left: -175px;
      position: absolute;
      top: -50px;
      font-size: 125px;
    }
    &:after {
      color: #00cc00;
      content: "\f10e";
      font-family: FontAwesome;
      right: -130px;
      position: absolute;
      top: -50px;
      font-size: 125px;
    }
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      @media (min-width: 620px) {
        font-size: 1.25rem
      }
      padding: 10px;
    }
  }
}

.entry-content {
  font-size: 2rem;
}

.entry-meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; // width: 50%;
  align-items: center;
  .entry-title {
    font-size: 1rem;
    font-weight: lighter;
  }
  .source {
    a {
      text-decoration: none;
      margin-left: 10px;
    }
  }
}

//   }
//   .source {
//     margin-left: 10px;
//   }
// .hfeed {
//   flex-direction: column;
//   }
// }
// /*Front-Page*/
// .home {
//   .hfeed {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//   }
//   .post {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     .entry-content {
//       font-size: 1.5rem;
//       padding: 0px 20%;
//       p {
//         margin-bottom: 0px;
//         position: relative;
//       }
//     }
//     .entry-meta {
//       font-weight: none;
//       display: flex;
//       flex-direction: row;
//       justify-content: flex-start;
//       width: 50%;
//       align-items: center;
//       .entry-title {
//         font-size: 1rem;
//         font-weight: normal;
//       }
//       .source {
//         margin-left: 10px;
//       }
//     }
//   }
//   .btn-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }
// /* All Archives Page */
// .page-id-113 {
//   .site-content {
//     width: 100%;
//     padding-left: 15px;
//   }
//   .entry-header {
//     margin-bottom: 50px;
//   }
//   .quote-authors {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     padding: 0px;
//     margin: 0px;
//     width: 90%;
//     li {
//       margin: 5px 10px;
//       a {
//         text-decoration: none;
//         font-weight: lighter;
//       }
//     }
//   }
//   .catagory-archives {
//     display: flex;
//     flex-direction: column;
//     width: 90%;
//     ul {
//       margin: 0px;
//       padding: 0px;
//       display: flex;
//       flex-wrap: wrap;
//       li {
//         margin: 5px 10px;
//         a {
//           text-decoration: none;
//           font-weight: lighter;
//         }
//       }
//     }
//   }
//   .wp-tag-cloud {
//     margin: 0px;
//     padding: 0px;
//     display: flex;
//     flex-wrap: wrap;
//     li {
//       margin: 5px 10px;
//       a {
//         text-decoration: none;
//         font-weight: lighter;
//       }
//     }
//   }
//   footer {}
// }
// /* Submit a Quote Page */
// // .page-id-111 {
// //   .quotes-submit-wrapper {
// //     .quote-submission-form {
// //       display: flex;
// //       div{
// //         display: flex;
// //         flex-direction: column;
// //       }
// //     }
// //   }
// // }
// /* About Page */
// // .page {
// //   display: flex;
// //   flex-direction: column;
// //   .entry-header {
// //     margin-bottom: 0px;
// //     width: 55%;
// //     position: relative;
// //     .entry-title {
// //       margin-bottom: 0px
// //     } //   @media screen and (min-width: 1080px){
// //     // }
// //     .entry-content {
// //       margin: 0px;
// //       width: 55%;
// //     }
// //   }
// // }