/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.site {
  max-width: 1080px;
  margin: 0 auto;
}

.hfeed {
  width: 100%;
}

.logo-wrapper {
  margin-top: 50px;
  @media (min-width: 620px) {}
  @media (min-width:1080px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.site-content {
  
  position: relative;
  font-weight: lighter;
  @media (min-width: 620px) {

  }
  @media (min-width: 1080px) {
    margin: 4.5rem 175px 1.5rem;
    &:before {
      color: #00cc00;
      content: "\f10d";
      font-family: FontAwesome;
      left: -175px;
      position: absolute;
      top: -50px;
      font-size: 125px;
    }
    &:after {
      color: #00cc00;
      content: "\f10e";
      font-family: FontAwesome;
      right: -130px;
      position: absolute;
      top: -50px;
      font-size: 125px;
    }
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      @media (min-width: 620px) {
        font-size: 1.25rem
      }
      padding: 10px;
    }
  }
}

.entry-content {
  font-size: 2rem;
}

.entry-meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .entry-title {
    font-size: 1rem;
    font-weight: lighter;
  }
  .source {
    a {
      text-decoration: none;
      margin-left: 10px;
    }
  }
}

/* Submit a Quote Page */

.page-id-111 {
  div {
    display: flex;
    flex-direction: column;
  }
}
.quotes-submit-wrapper {
  a {
    text-decoration: none;
  }
}

/* Archives */

.browse-archives {
  .quote-authors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 90%;
    li {
      margin-bottom: 10px;
      margin-right: 20px;
      font-size: 1.25rem;
      a {
        text-decoration: none;
      }
    }
  }
}

.catagory-archives {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 90%;
    li {
      margin-bottom: 10px;
      margin-right: 20px;
      font-size: 1.25rem;
      a {
        text-decoration: none;
      }
    }
  }
}

.wp-tag-cloud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 90%;
  li {
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 1.25rem;
    a {
      text-decoration: none;
    }
  }
}


.page-id-107 {
  p {
    font-size: 1rem;
  }
}