/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Front-Page*/

.page-template-default {

}

/* All Archives Page */

/* Submit a Quote Page */
